RewriteEngine on
RewriteRule ^razd([0-9]+)$ razd.php?id=$1 [L,QSA]
RewriteRule ^razd([0-9]+)/delete$ razd_delete.php?id=$1 [L,QSA]
RewriteRule ^razd([0-9]+)/edit$ razd_edit.php?id=$1 [L,QSA]
RewriteRule ^razd([0-9]+)/up$ razd_up.php?id=$1 [L,QSA]
RewriteRule ^razd([0-9]+)/down$ razd_down.php?id=$1 [L,QSA]
RewriteRule ^razd([0-9]+)/npr$ npr.php?id=$1 [L,QSA]
RewriteRule ^nr$ nr.php [L,QSA]
RewriteRule ^podrazd([0-9]+)$ podrazd.php?id=$1 [L,QSA]
RewriteRule ^podrazd([0-9]+)/up$ podrazd_up.php?id=$1 [L,QSA]
RewriteRule ^podrazd([0-9]+)/down$ podrazd_down.php?id=$1 [L,QSA]
RewriteRule ^podrazd([0-9]+)/edit$ podrazd_edit.php?id=$1 [L,QSA]
RewriteRule ^podrazd([0-9]+)/delete$ podrazd_delete.php?id=$1 [L,QSA]
RewriteRule ^nt([0-9]+)$ nt.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)$ thema.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/page([0-9]+)$ thema.php?id=$1&page=$2 [L,QSA]
RewriteRule ^thema([0-9]+)/otv([0-9]+)$ otv.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^thema([0-9]+)/cit([0-9]+)$ cit.php?id=$1&cit=$2 [L,QSA]
RewriteRule ^thema([0-9]+)/who$ who.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/visits$ visits.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/close$ close.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/edit$ edit.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/move$ move.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/delete$ delete.php?id=$1 [L,QSA]
RewriteRule ^edit_message([0-9]+)$ edit_message.php?id=$1 [L,QSA]
RewriteRule ^thema([0-9]+)/zak$ zak.php?id=$1 [L,QSA]
RewriteRule ^del_message([0-9]+)$ del_message.php?id=$1 [L,QSA]
RewriteRule ^edit_message([0-9]+)/del_file([0-9]+)$ edit_message.php?id=$1&del_file=$2 [L,QSA]
RewriteRule ^search$ search.php [L,QSA]
RewriteRule ^rules([0-9]+)$ rules.php?id=$1 [L,QSA]
RewriteRule ^file_load([0-9]+)$ file_load.php?id=$1 [L,QSA]
